<div class="listing-container">
	<ul class="ul-listing">
		{% for listing in listings %}
		{% set photo_url = url_for('static', filename=listing.photo) %}
		<li>
			<a href="{{ url_for('listing_detail', listing_id=listing.listing_id) }}" class="listing-a">
				<div class="listing" style="background-image: url({{ photo_url }});">
					<div class="listing-body">
						<div class="bottom-left">
							<span class="listing-title">{{ listing.title }}</span>
							<span class="listing-price">{{ listing.price_per_unit }} / {{ listing.unit_type }}</span>
						</div>
						<div class="bottom-right">
							<span class="listing-more">More</span>
						</div>
					</div>
				</div>
			</a>
		</li>
		{% else %}
		<div class="no-results">
			<img src="{{ url_for('static', filename='images/not-found.svg') }}" alt="no results">
			<span class="search-none">We could not find any matching products</span>
		</div>
		{% endfor %}
	</ul>
</div>