{% extends "base.html" %}
{% block title %}Your Account{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/account.css') }}">
{% endblock %}
{% block app_bar %}
<div class="app-bar-item">
	<div class="app-bar-filler"></div>
</div>
<div class="app-bar-item">
	<span class="app-bar-title">Your Account</span>
</div>
<div class="app-bar-item">
	<a href="{{ url_for('settings') }}">
		<div class="app-bar-settings">
			<i class="material-icons">settings</i>
		</div>
	</a>
</div>

{% endblock %}
{% block content %}
    {% if 'email' in session %}
    <p>Logged in as {{ session.email }}; <a href="{{ url_for('logout') }}">log out</a>.</p>
{% else %}
    <p>Not logged in; <a href="{{ url_for('log_in') }}">log in now</a>.</p>
    <p> Want to join the community? <a href="{{ url_for('create_account') }}">Create an Account</a>.</p>
{% endif %}
{% endblock %}