{% extends "base.html" %} 
{% block title %}Edit Account Details{% endblock %}
{% block bar_title %}Edit Account Details{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/account-create.css') }}">
{% endblock %}
{% block app_bar %}
<div class="app-bar-item">
	<div class="app-bar-filler"></div>
</div>
<div class="app-bar-item">
	<span class="app-bar-title">Edit Account Details</span>
</div>
<div class="app-bar-item">
	<div class="app-bar-filler"></div>
</div>
{% endblock %}
{% block content %}
<h1 style="text-align: center; margin-top: 25%;">Not Functional</h1>
{% endblock %}