{% extends "base.html" %} 
{% block title %}Add Listing{% endblock %}
{% block bar_title %}Add Listing{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/listing-new.css') }}">
{% endblock %}
{% block content %}
<div class="add-body">
	{% include '_form_errors.html' %}
	<form enctype="multipart/form-data" method="POST">
			{{ form.csrf_token }}
			<div class="form-group">
					{{ form.title.label }}
					{{ form.title(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.photo.label }}
					{{ form.photo(class_='form-control', accept='image/*') }}
			</div>
			<div class="form-group">
					{{ form.description.label }}
					{{ form.description(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.original_quantity.label }}
					{{ form.original_quantity(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.unit_type.label }}
					{{ form.unit_type(class_='form-control', placeholder='each, bushel, lb...') }}
			</div>
			<div class="form-group">
					{{ form.price_per_unit.label }}
					{{ form.price_per_unit(class_='form-control', placeholder='4.99', type='number') }}
			</div>
			<div class="form-group">
					{{ form.category_id.label }}
					{{ form.category_id(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.is_tradeable.label }}
					{{ form.is_tradeable(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.date_harvested.label }}
					{{ form.date_harvested(class_='form-control', placeholder='YYYY-MM-DD' ) }}
			</div>
			{{ form.submit(class_="btn btn-primary btn-success btn-lg btn-block") }}
	</form>
</div>
{% endblock %}