<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#3D9970">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static',filename='image/apple-icon-57x57.png') }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static',filename='image/apple-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static',filename='image/apple-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='image/apple-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static',filename='images/apple-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='images/apple-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='images/apple-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='images/apple-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images/apple-icon-180x180.png') }}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static',filename='images/android-icon-192x192.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='images/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static',filename='images/favicon-96x96.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static',filename='images/manifest.json') }}">
	<meta name="msapplication-TileColor" content="#3D9970">
	<meta name="msapplication-TileImage" content="{{ url_for('static',filename='images/ms-icon-144x144.png') }}">
	<title>{% block title %}{% endblock %}</title>

	<!-- Links -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/media-queries.css') }}">
	{% block css %}{% endblock %}
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}">


	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
	<script src="{{ url_for('static',filename='scripts/scripts.js') }}"></script>
	{% block javascript %}{% endblock %}
</head>

<body>
	<header>
		<div class="dsktp">
			<nav class="dsktp-navi">
				<div class="dsktp-left">
					<a href="/" class="dsktp-logo">
						<img src="{{ url_for('static',filename='images/logo.png') }}">
						<!-- <div class="dsktp-logo-text"><span>Gardener's Exchange</span></div> -->
					</a>
				</div>
				<div class="dsktp-center">
					<div class="dsktp-search">
						<form method="GET" class="dsktp-search-form" action="{{ url_for('search') }}">
							<input type="text" name="search" class="dsktp-search-box" placeholder="Search" value="{% block search_query %}{% endblock %}">
							<input type="submit" style="display: none;" />
						</form>
					</div>
				</div>
				<div class="dsktp-right">
					<a href="/" class="dsktp-a">
						<div class="dsktp-item" id="index-d">
							<span>Feed</span>
						</div>
					</a>
					<a href="/listing/add" class="dsktp-a">
						<div class="dsktp-item" id="add-d">
							<span>Add Product</span>
						</div>
					</a>
					<a href="/account" class="dsktp-a">
						<div class="dsktp-item" id="account-d">
							<span>Account</span>
						</div>
					</a>
				</div>
			</nav>
		</div>
		<div class="app-bar">
			{% block app_bar %}{% endblock %}
		</div>
	</header>
	<div class="navi">
		<nav class="navi-nav">
			<a href="{{ url_for('index') }}" class="navi-nav-item">
				<div class="navi-nav-item-link" id="index">
					<i class="material-icons">home</i>
					<span>Feed</span>
				</div>
			</a>
			<a href="{{ url_for('search') }}" class="navi-nav-item">
				<div class="navi-nav-item-link" id="search">
					<i class="material-icons">search</i>
					<span>Search</span>
				</div>
			</a>
			<a href="{{ url_for('listing_new') }}" class="navi-nav-item">
				<div class="navi-nav-item-link" id="add">
					<i class="material-icons">add</i>
					<span>Add Product</span>
				</div>
			</a>
			{% if 'user_id' in session %}
			<a href="{{ url_for('account') }}" class="navi-nav-item">
				<div class="navi-nav-item-link" id="account">
					<i class="material-icons">perm_identity</i>
					<span>Account</span>
				</div>
			</a>
			{% else %}
			<a href="{{ url_for('login') }}" class="navi-nav-item">
				<div class="navi-nav-item-link" id="account">
					<i class="material-icons">perm_identity</i>
					<span>Login</span>
				</div>
			</a>
			{% endif %}
		</nav>
	</div>
	<main>
		<div class="container-fluid">
			{% for message in get_flashed_messages() %}
				<div class="alert alert-primary">{{ message }}</div>
			{% endfor %}
			{% block content %}{% endblock %}
		</div>
	</main>
	<footer></footer>
</body>

</html>