{% extends "base.html" %} 
{% block title %}Create an Account{% endblock %}
{% block bar_title %}Create an Account{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/listing-new.css') }}">
{% endblock %}
{% block content %}

    <h2>Create an Account</h2>
{#    <form method="POST">#}
{#        <p>#}
{#            <label for="email">Email Address</label>#}
{#            <input id="email" name="email" type="email">#}
{#        </p>#}
{#        <p>#}
{#            <label for="password">Password</label>#}
{#            <input id="password" name="password" type="password">#}
{#        </p>#}
{#        <input type="submit" value="Create my account" class="btn btn-primary btn-success btn-lg btn-block">#}
{#    </form>#}
{% macro wtfield(field) %}
    <p>
        {{ field.label }} {{ field() }}
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}

        {% endif %}
    </p>
{% endmacro %}
<div class="add-body">
{#	{% include '_form_errors.html' %}#}
{#    <form method="POST">#}
{#        {{ form.hidden_tag() }}#}
{#        {{ wtfield(form.email) }}#}
{#        {{ wtfield(form.first_name) }}#}
{#        {{ wtfield(form.last_name) }}#}
{#        {{ wtfield(form.address) }}#}
{#        {{ wtfield(form.bio) }}#}
{#        {{ wtfield(form.photo) }}#}
{#        {{ wtfield(form.password) }}#}
{#        {{ wtfield(form.confirm) }}#}
{#        <p>{{ form.submit(class_="btn btn-primary btn-success btn-lg btn-block") }}</p>#}
    {% include '_form_errors.html' %}
	<form enctype="multipart/form-data" method="POST">
			{{ form.csrf_token }}
			<div class="form-group">
					{{ form.email.label }}
					{{ form.email(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.first_name.label }}
					{{ form.first_name(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.last_name.label }}
					{{ form.last_name(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.address.label }}
					{{ form.address(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.bio.label }}
					{{ form.bio(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.photo.label }}
					{{ form.photo(class_='form-control', accept='image/*') }}
			</div>
			<div class="form-group">
					{{ form.password.label }}
					{{ form.password(class_='form-control') }}
			</div>
			<div class="form-group">
					{{ form.confirm.label }}
					{{ form.confirm(class_='form-control') }}
			</div>
			{{ form.submit(class_="btn btn-primary btn-success btn-lg btn-block") }}
	</form>
    </form>
</div>
{% endblock %}