{% extends "base.html" %}
{% block bar_title %}{{ listing.title }}{% endblock %}
{% block title %}{{ listing.title }}{% endblock %}
{% block app_bar_rel_link %}{{rel_link}}{% endblock %}
{% block content %}
<img src={{ listing.photo }}>
<p>
    <strong>Description: </strong>{{ listing.description }}
</p>
<p>
    <strong>Quantity: </strong>{{ listing.available_quantity }}
</p>
<p>
    <strong>Category: </strong>{{ listing.listing_category }}
</p>
<p>
	<strong>Expires: </strong>{{ listing.expiration_date }}
</p>
<p>
	<strong>Quality: </strong>{{ listing.listing_quality }}
</p>

{% endblock %}