{% extends "base.html" %}
{% block title %}{{ listing.title }}{% endblock %}
{% block bar_title %}{{ listing.title }}{% endblock %}
{% block app_bar_rel_link %}{{rel_link}}{% endblock %}
{% block content %}
<div class="detail">
	<div class="detail-img">
		<img src={{listing.photo}}>
	</div>
	 <div class="detail-title">
			<h1>{{ listing.title }}</h1>
	 </div>
	 <div class="detail-description">
			{{ listing.description }}
	 </div>
	 <div class="detail-quality">
			{{ listing.listing_quality }}
	 </div>
	 <div class="detail-quantity">
		<div class="detail-quantity-label">Quantity</div>
		<div class="detail-quantity-total">{{ listing.available_quantity }}</div>
	 </div>
	 <a 
		 class="btn btn-primary btn-success btn-lg btn-block" 
		 href="{{ url_for('buy_listing', id=listing.listing_id, _external=True) }}">
		 Buy Now
	 </a>
</div>
{% endblock %}