{% extends "base.html" %}
{% block title %}{{ listing.title }}{% endblock %}
{% block bar_title %}{{ listing.title }}{% endblock %}
{% block app_bar_rel_link %}{{rel_link}}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/listing-details.css') }}">
{% endblock %}
{% block content %}
<div class="detail">
	<div class="detail-img" style="background-image: url({{url_for('static', filename=listing.photo)}})">
	</div>
	<div class="detail-body">
		<div class="detail-title">
			 {{ listing.title }}
		</div>
		<div class="detail-description">
			 {{ listing.description }}
		</div>
		<div class="detail-section">
			<img class="seller-pic" src={{ user.profile_pic }}>
			<div class="seller-name">{{ user.first_name }} {{ user.last_name }}</div>
		</div>
		<div class="detail-section">
		 <div class="detail-label">Quantity Available</div>
		 <div class="detail-total">{{ listing.available_quantity }}</div>
		</div>
		<div class="detail-section">
		 <div class="detail-label">Product Expiration</div>
		 <div class="detail-total">{{ listing.date_harvested.strftime('%B%t%e,%t%Y') }}</div>
		</div>
		<div class="detail-section detail-price">
			<div class="detail-label">Price Per Unit</div>
			<div class="detail-total">${{ listing.price_per_unit }} / {{ listing.unit_type }}</div>
		</div>
		<a 
			class="btn btn-primary btn-success btn-lg btn-block" 
			href="{{ url_for('buy_listing', id=listing.listing_id, _external=True) }}">
			Buy Now
		</a>
	</div>
</div>
{% endblock %}