{% extends "base.html" %}
{% block title %}User Profile{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/settings.css') }}">
{% endblock %}
{% block app_bar %}
<a href="{{ rel_link }}" class="app-bar-item">
	<div class="go-back" style="color: #000">
		<i class="material-icons">arrow_back</i>
	</div>
</a>
<div class="app-bar-item">
	<div class="app-bar-filler"></div>
</div>
<div class="app-bar-item">
	<div class="app-bar-filler"></div>
</div>
{% endblock %}
{% block content %}
<div class="profile-container">
	<div class="profile-information">
		<div class="profile-pic"></div>
		<div class="profile-name"></div>
		<div class="profile-bio"></div>
		<div class="profile-location"></div>
	</div>
	<div class="listing-container"></div>
</div>
{% endblock %}