{% extends "base.html" %}
{% block title %}User Profile{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile.css') }}">
{% endblock %}
{% block app_bar %}
<a href="{{ rel_link }}" class="app-bar-item">
	<div class="go-back">
		<i class="material-icons">arrow_back</i>
	</div>
</a>
<div class="app-bar-item">
	<div class="app-bar-filler"></div>
</div>
<div class="app-bar-item">
	<div class="app-bar-filler"></div>
</div>
{% endblock %}
{% block content %}
<div class="profile-container">
	{% include '_user-profile.html' %}
	<div class="listing-header">
		<i class="material-icons">view_agenda</i>
		<span class="listing-text">Listings</span>
	</div>
	<div class="listing-container">
		<ul class="ul-listing">
			{% for listing in listings %}
			<li>
				<a href="{{ url_for('listing_detail', listing_id=listing.listing_id) }}" class="listing-a">
					<div class="listing" style="background-image: url({{ url_for('static', filename=listing.photo) }});">
						<div class="listing-body">
							<div class="bottom-left">
								<span class="listing-title">{{ listing.title }}</span>
								<span class="listing-price">{{ listing.price_per_unit }} / {{ listing.unit_type }}</span>
							</div>
							<div class="bottom-right">
								<span class="listing-more">More</span>
							</div>
						</div>
					</div>
				</a>
			</li>
			{% else %}
			<div class="no-results">
				<img src="{{ url_for('static', filename='images/no-results.png') }}" alt="no results">
				<span class="search-none">No search results found</span>
			</div>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}