{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/settings.css') }}">
{% endblock %}
{% block app_bar %}
<a href="/account" class="app-bar-item"> <!-- CHANGE THIS HREF LATER -->
	<div class="go-back">
		<i class="material-icons">arrow_back</i>
	</div>
</a>
<div class="app-bar-item">
	<span class="app-bar-title">Settings</span>
</div>
<div class="app-bar-item">
	<div class="app-bar-filler"></div>
</div>
{% endblock %}
{% block content %}
{% endblock %}