.container-fluid {
	padding: 0;
}
.app-bar-filler {
	padding: 24px;
	margin-left: 8px;
	margin-right: 0px;
}
.app-bar-settings {
	padding: 0 16px 0 0;
	margin: 0;
	line-height: 0px;
	color: #757575;
}