@media only screen and (min-width: 768px) {
	.listing-container {
		width: 100%;
	}
	.ul-listing {
		margin         : 0 auto;
		display        : flex;
		flex-flow      : row wrap;
		justify-content: center;
		width          : 100%;
	}
	.ul-listing>li {
		flex-basis: 45%;
		margin    : -8px 8px;
		max-width : 448px;
	}
}
@media only screen and (max-width: 1023px) {
	.dsktp {
		display: none;
	}
}
@media only screen and (min-width: 1024px) {
	.dsktp {
		width: 100%;
		/* margin-bottom: 8px; */
	}
	.dsktp-navi {
		display        : flex;
		flex-direction : row;
		justify-content: space-between;
		align-items    : center;
		height         : 64px;
	}
	.dsktp-logo-text {
		font-size  : 1.5rem;
		font-family: 'Titillium Web', sans-serif;
		font-weight: 700;
		color      : #3D9970;
	}
	.dsktp-left {
		display       : flex;
		flex-direction: row;
		flex          : 2;
		margin-left   : 16px;
	}
	.dsktp-center {
		flex           : 3;
		width          : 100%;
		margin         : 0 16px;
		display        : flex;
		flex-direction : row;
		align-items    : center;
		justify-content: space-between;
	}
	.dsktp-search {
		width: 75%;
	}
	.dsktp-search-box {
		font-family  : 'Titillium Web', sans-serif;
		font-weight  : 600;
		color        : #757575;
		border       : 2px #757575 solid;
		padding      : 4px 8px;
		width        : 100%;
		border-radius: 4px;
		transition   : ease-in-out .2s;
	}
	.dsktp-search-box:hover, .dsktp-search-box:focus {
		color       : #3D9970;
		border-color: #3D9970;
	}
	.dsktp-right {
		display       : flex;
		flex-direction: row;
		margin-right  : 16px;
	}
	.dsktp-item {
		font-family    : 'Roboto', serif;
		color          : #757575;
		margin         : 0 16px;
		display        : flex;
		flex-direction : row;
		justify-content: center;
		align-items    : center;
	}
	.dsktp-item-active {
		color          : #3D9970;
		text-decoration: none;
	}
	.dsktp-item:hover, .dsktp-item:focus {
		color: #3D9970;
	}
	.dsktp-a:hover, .dsktp-a:focus {
		text-decoration: none;
	}
	.app-bar {
		display: none;
	}
	.navi {
		display: none;
	}
}