body {
	background-color: #FFF;
}
main {
	padding-bottom: 100px;
}
.container-fluid {
	max-width: 1024px;
}
.form-control::-webkit-input-placeholder {
	color: #DDD;
}
.form-control::-moz-placeholder {
	color: #DDD;
}
.form-control::-ms-placeholder {
	color: #DDD;
}
.form-control::placeholder {
	color: #DDD;
}
.app-bar {
	display         : flex;
	align-items     : center;
	justify-content : space-between;
	flex-direction  : row;
	height          : 64px;
	background-color: transparent;
	font-family     : 'Titillium Web', sans-serif;
	font-weight     : 600;
}
.app-bar-title {
	color    : #757575;
	font-size: 1.5rem;
}
.go-back {
	padding    : 0 0 0 8px;
	margin     : 0;
	line-height: 0px;
	color      : #FFF;
}
.app-bar-filler {
	padding     : 12px;
	margin-right: 8px;
	line-height : 0px;
}
main {
	padding-bottom: 100px;
}
.navi {
	width     : 100%;
	position  : fixed;
	bottom    : 0;
	z-index   : 99;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.12);
}
.navi-nav {
	font-family     : 'Roboto', serif;
	font-size       : .75rem;
	display         : flex;
	align-content   : center;
	justify-content : center;
	background-color: #FFF;
	border-top      : 1px solid #e4e4e4;
}
a.navi-nav-item {
	color          : #757575;
	flex           : 1;
	text-align     : center;
	text-decoration: none;
}
.navi-nav-item-link {
	padding       : 6px 0 10px 0;
	display       : flex;
	flex-direction: column;
}
.navi-nav-item-link>span {
	font-size: 0.625rem;
}
.nav-item-active {
	color          : #3D9970;
	text-decoration: none;
}
.ul-listing {
	list-style-type: none;
	margin         : 0;
	padding        : 0;
}
.ul-listing>li {
	margin   : 0 auto;
	max-width: 448px;
}
.listing {
 display          : flex;
 flex-direction   : row;
 justify-content  : space-between;
 background-color : #FFF;
 color            : #FFF;
 margin           : 16px 0;
 border-radius    : 16px;
 height           : 200px;
 background-size  : cover;
 background-repeat: no-repeat;
 position         : relative;
 box-shadow       : 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
 transition       : all 0.3s cubic-bezier(.25,.8,.25,1);
}
.listing:hover {
	box-shadow: 0 5px 10px rgba(0,0,0,0.20), 0 5px 20px rgba(0,0,0,0.15);
}
.listing::after {
	z-index         : 1;
	position        : relative;
	background-image: linear-gradient(to bottom, transparent 60%, #000 100%);
	opacity         : .5;
	width           : 100%;
	height          : 100%;
	content         : '';
	border-radius   : 16px;
}
.listing-a {
	color: #3D9970;
}
.listing-a:hover, .listing-a:focus {
	color          : #0A663D;
	text-decoration: none;
}
.listing-body {
	width          : 100%;
	font-family    : 'Titillium Web', sans-serif;
	font-weight    : 400;
	position       : absolute;
	bottom         : 0;
	display        : flex;
	flex-direction : row;
	justify-content: space-between;
	align-items    : flex-end;
	z-index        : 3;
}
.bottom-left {
	display       : flex;
	flex-direction: column;
	margin-left   : 8px;
	margin-bottom : 2px;
}
.bottom-right {
	display      : flex;
	margin-right : 8px;
	margin-bottom: 8px;
}
.listing-title {
	font-size: 1.5rem;
}
.listing-price {
	font-size: 1.25rem;
}
.listing-more {
	font-size    : 1.25rem;
	font-weight  : 400;
	color        : #FFF;
	padding      : 3px 16px;
	background   : transparent;
	border       : 2px #FFF solid;
	border-radius: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	appearance        : none;
	-webkit-appearance: none;
	display           : none;
	margin            : 0;
}
input[type='number'] {
	-moz-appearance: textfield;
	appearance     : auto;
}
.no-results {
	display        : flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
	font-family    : 'Titillium Web', sans-serif;
	font-weight    : 600;
}
.no-results>img {
	margin-top: 100px;
	width     : 50%;
}
.page-header-title {
	font-size  : 2.5rem;
	font-weight: 600;
	text-align : center;
	margin     : 6px 0;
	font-family: 'Titillium Web', sans-serif;
}
.profile-section {
	display       : flex;
	flex-direction: column;
	font-family   : 'Titillium Web', 'serif';
	font-weight   : 600;
	color         : #757575;
	margin        : 0px 10%;
}
.profile-section-top {
	display        : flex;
	flex-direction : row;
	justify-content: flex-start;
}
.profile-section-bottom {
	display        : flex;
	flex-direction : row;
	justify-content: center;
	align-items    : center;
	margin         : 0px 10%;
}
.profile-bottom-bio {
	font-size    : .8125rem;
	margin-bottom: 10px;
}
.profile-top-left {
	margin: 16px;
}
.profile-top-right {
	display        : flex;
	flex-direction : column;
	justify-content: center;
	margin-bottom  : 8px;
}
.profile-top-left>img {
	width        : 96px;
	height       : 96px;
	border-radius: 96px;
}
.profile-right-name {
	font-size: 1.25rem;
}
.profile-right-loc {
	display       : flex;
	flex-direction: row;
}
.profile-a {
	color: #3D9970;
}
.profile-a:hover {
	color          : #276248;
	text-decoration: none;
}