body {
	background-color: #FFF;
}
main {
	padding-bottom: 100px;
}
.app-bar {
	display         : flex;
	align-items     : center;
	justify-content : space-between;
	flex-direction  : row;
	height          : 48px;
	background-color: transparent;
}
.app-bar-title {
	color      : #757575;
	font-size  : 1.5rem;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
}
.go-back {
	padding    : 0 0 0 8px;
	margin     : 0;
	line-height: 0px;
	color      : #FFF;
}
.app-bar-filler {
	padding     : 12px;
	margin-right: 8px;
	line-height : 0px;
}
.navi {
	width   : 100%;
	position: fixed;
	bottom  : 0;
	z-index : 3;
}
.navi-nav {
	font-family     : 'Roboto', serif;
	font-size       : .75rem;
	display         : flex;
	align-content   : center;
	justify-content : center;
	background-color: #FFF;
	border-top      : 1px solid #e4e4e4;
}
a.navi-nav-item {
	color          : #757575;
	flex-grow      : 1;
	text-align     : center;
	text-decoration: none;
}
.navi-nav-item-link {
	padding       : 6px 0 10px 0;
	display       : flex;
	flex-direction: column;
}
.nav-item-active {
	color          : #3D9970;
	text-decoration: none;
}
.ul-listing {
	list-style-type: none;
	margin         : 0;
	padding        : 0;
}
.listing {
 display          : flex;
 flex-direction   : row;
 justify-content  : space-between;
 background-color : #FFF;
 color            : #FFF;
 margin           : 16px 0;
 border-radius    : 16px;
 height           : 200px;
 background-size  : cover;
 background-repeat: no-repeat;
 /* box-shadow      : 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
}
.listing::after {
	z-index         : 1;
	position        : relative;
	background-image: linear-gradient(to bottom, transparent 65%, #000 100%);
	opacity         : .5;
	width           : 100%;
	height          : 100%;
	content         : '';
	border-radius   : 16px;
}
.listing-body {
	display        : flex;
	justify-content: flex-start;
	flex-direction : column;
	z-index        : 2;
}
.listing-a {
	color: #3D9970;
}
.listing-a:hover, .listing-a:focus {
	color          : #0A663D;
	text-decoration: none;
}
.listing-title {
	position : absolute;
	bottom   : 24px;
	left     : 8px;
	font-size: 1.5rem;
}
.listing-body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	position   : relative;
}
.listing-price {
	font-size: 1.25rem;
	position : absolute;
	bottom   : 0;
	left     : 8px;
}