body {
	background-color: #e4e4e4;
}
main {
	padding-bottom: 100px;
}
.app-bar {
	display         : flex;
	align-items     : center;
	justify-content : space-between;
	flex-direction  : row;
	height          : 48px;
	background-color: #FFF;
	border-bottom   : 1px solid #e4e4e4;
}
.app-bar-title {
	color      : #757575;
	font-size  : 1.5rem;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
}
.go-back {
	padding    : 0 0 0 8px;
	margin     : 0;
	line-height: 0px;
	color      : #757575;
}
.app-bar-filler {
	padding     : 12px;
	margin-right: 8px;
	line-height : 0px;
}
.navi {
	width   : 100%;
	position: fixed;
	bottom  : 0;
}
.navi-nav {
	font-family     : 'Roboto', serif;
	font-size       : .75rem;
	display         : flex;
	align-content   : center;
	justify-content : center;
	background-color: #FFF;
	border-top      : 1px solid #e4e4e4;
}
a.navi-nav-item {
	color          : #757575;
	flex-grow      : 1;
	text-align     : center;
	text-decoration: none;
}
.navi-nav-item-link {
	padding       : 6px 0 10px 0;
	display       : flex;
	flex-direction: column;
}
.nav-item-active {
	color          : #3D9970;
	text-decoration: none;
}
.ul-listing {
	list-style-type: none;
	margin         : 0;
	padding        : 0;
}
.listing {
 display         : flex;
 flex-direction  : row;
 justify-content : space-between;
 background-color: #FFF;
 padding         : 16px;
 margin          : 16px 0;
 border-radius   : 2px;
 box-shadow      : 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.listing-body {
	display        : flex;
	justify-content: flex-start;
	flex-direction : column;
}
.listing-a {
	color: #3D9970;
}
.listing-a:hover, .listing-a:focus {
	color          : #0A663D;
	text-decoration: none;
}
.listing-title {
	font-size: 1.25rem;
}
.listing-body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
}
.listing-price {
	font-size: 1rem;
}
.listing-image {
	width : 96px;
	height: 96px;
}

.detail {
	font-family: 'Titillium Web', sans-serif;
}
.detail-img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 256px;
}
.detail-title {
	text-align: center;
}
.detail-description {
	text-align: center;
}
.detail-quality {
	text-align: center;
}
.detail-quantity {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.detail-quantity-label {
	font-size: 1.5rem;
}
.detail-quantity-total {
	font-size: 3rem;
}